Flow Scripts/Microsoft.Flow/flows/6748a995-73a2-425f-8054-a94a219a11fc/definition.json
{"name":"50a0ec4b-f8b9-4355-a1c8-16b74f3d9c90","id":"/providers/Microsoft.Flow/flows/50a0ec4b-f8b9-4355-a1c8-16b74f3d9c90","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ENG_ShoutOut_Summary","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"2f5a1bf9-38aa-434c-9286-964a2e7b924d","type":"User","tenantId":"932109f9-aabe-4596-b44b-a90ac11eeb66"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-12-03T23:58:42.5042069Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_an_item_is_created":{"recurrence":{"frequency":"Minute","interval":5},"splitOn":"@triggerOutputs()?['body/value']","type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetOnNewItems"},"parameters":{"dataset":"https://m365x257948.sharepoint.com/sites/ShoutOuts/","table":"7c350ca4-b9df-46a6-95ab-37004de1b58c"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_items":{"runAfter":{"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_user":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@variables('varSiteUrl')","table":"ShoutoutSummary","$filter":"Title eq '@{triggerOutputs()?['body/RecipientEmail']}' and Month eq '@{formatDateTime(utcNow(),'yyyyMM')}'"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Update_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"@variables('varSiteUrl')","table":"ShoutoutSummary","id":"@body('Get_items')?['value']?[0]?['ID']","item":{"Title":"@body('Get_items')?['value']?[0]?['Title']","Count":"@add(body('Get_items')?['value']?[0]?['Count'],1)"}},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items":["Succeeded"]},"else":{"actions":{"Create_item":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"@variables('varSiteUrl')","table":"ShoutoutSummary","item":{"Title":"@triggerOutputs()?['body/RecipientEmail']","Count":1,"Month":"@formatDateTime(utcNow(),'yyyyMM')"}},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('Get_items')?['value'])\r\n\r\n",0]},"type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSiteUrl","type":"string","value":"https://m365x257948.sharepoint.com/sites/ShoutOuts"}]}},"Post_your_own_adaptive_card_as_the_Flow_bot_to_a_user":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_teams","connectionName":"shared_teams","operationId":"PostUserAdaptiveCard"},"parameters":{"PostAdaptiveCardRequest/recipient/to":"@{triggerOutputs()?['body/RecipientEmail']};","PostAdaptiveCardRequest/messageBody":"{\n    \"type\": \"AdaptiveCard\",\n    \"body\": [\n        {\n            \"type\": \"ColumnSet\",\n            \"columns\": [\n                {\n                    \"type\": \"Column\",\n                    \"width\": 20,\n                    \"items\": [\n                        {\n                            \"type\": \"Image\",\n                            \"url\": \"https://soapboxhq.com/wp-content/uploads/2014/04/sticker-header.png\",\n                            \"size\": \"Large\"\n                        }\n                    ],\n                    \"height\": \"stretch\"\n                },\n                {\n                    \"type\": \"Column\",\n                    \"width\": 50,\n                    \"items\": [\n                        {\n                            \"type\": \"TextBlock\",\n                            \"size\": \"Large\",\n                            \"weight\": \"Bolder\",\n                            \"text\": \"Recognition!\"\n                        }\n                    ],\n                    \"verticalContentAlignment\": \"Center\"\n                }\n            ]\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"spacing\": \"Medium\",\n            \"text\": \"Hello **@{triggerOutputs()?['body/RecipientName']}**,\",\n            \"isSubtle\": true,\n            \"wrap\": true\n        },\n        {\n            \"type\": \"TextBlock\",\n            \"text\": \"Congratulations!!! **@{triggerOutputs()?['body/CreatorName']}** sent you a recognition for **@{triggerOutputs()?['body/ShoutoutType']}**. To get more information, click the button to access the ShoutOut for Teams app. \",\n            \"wrap\": true\n        },\n        {\n            \"type\": \"ActionSet\",\n            \"actions\": [\n                {\n                    \"type\": \"Action.OpenUrl\",\n                    \"title\": \"ShoutOut for Teams\",\n                    \"style\": \"positive\",\n                    \"url\": \"https://teams.microsoft.com/l/entity/2d674b2b-acf2-4354-a6a6-99632f14dcce/SUNAT - RECONOCIMIENTOS?webUrl=https://apps.powerapps.com/play/2d674b2b-acf2-4354-a6a6-99632f14dcce?tenantId=932109f9-aabe-4596-b44b-a90ac11eeb66&hint=1d89621a-4d95-41a5-bd3e-2029fb5af749\"\n                }\n            ]\n        }\n    ],\n    \"$schema\": \"http://adaptivecards.io/schemas/adaptive-card.json\",\n    \"version\": \"1.2\"\n}","PostAdaptiveCardRequest/messageTitle":"Reconocimientos SUNAT"},"authentication":"@parameters('$authentication')"}},"Get_items_2":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetItems"},"parameters":{"dataset":"@variables('varSiteUrl')","table":"ShoutoutCreators","$filter":"Title eq '@{triggerOutputs()?['body/CreatorEmail']}' and Month eq '@{formatDateTime(utcNow(), 'yyyyMM')}'"},"authentication":"@parameters('$authentication')"}},"Condition_2":{"actions":{"Update_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PatchItem"},"parameters":{"dataset":"@variables('varSiteUrl')","table":"ShoutoutCreators","id":"@body('Get_items_2')?['value']?[0]?['ID']","item":{"Title":"@body('Get_items_2')?['value']?[0]?['Title']","Count":"@add(body('Get_items_2')?['value']?[0]?['Count'], 1)"}},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_items_2":["Succeeded"]},"else":{"actions":{"Create_item_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"PostItem"},"parameters":{"dataset":"@variables('varSiteUrl')","table":"ShoutoutCreators","item":{"Title":"@triggerOutputs()?['body/CreatorEmail']","Count":1,"Month":"@formatDateTime(utcNow(), 'yyyyMM')"}},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(body('Get_items_2')?['value'])",0]},"type":"If"}}},"connectionReferences":{"shared_sharepointonline":{"connectionName":"00cea777617c497cb71ad9307227b2f5","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-5e13e669-189c-4e2a-b7b7-3c4a7113cf99","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}