SharePoint List Scripts/Microsoft.Flow/flows/9d894226-d5ac-4043-a9cb-7786199ed241/definition.json
{"name":"af05eda4-e152-4520-b565-0eba2b407757","id":"/providers/Microsoft.Flow/flows/af05eda4-e152-4520-b565-0eba2b407757","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"ShoutOut_DeploySPLists","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"46120e1b-f1d7-4e67-824f-aa1bb82d93dc","type":"User","tenantId":"c845946c-4be3-444a-a6f7-1e094e893259"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-12-04T16:29:53.6221157Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Variable_-_Target_Site_for_Lists":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"varSitePrefix","type":"string","value":"https://gov590501.sharepoint.com/sites/ShoutOut"}]},"description":"Internal URL for the site (rather than the display name)"},"Variable_-_App_Name":{"runAfter":{"Variable_-_Target_Site_for_Lists":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"varAppName","type":"string","value":"Reconocimientos"}]}},"Scope_-_Shoutout":{"actions":{"Send_an_HTTP_request_to_SharePoint_Shoutout":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"/_api/web/lists","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n  \"__metadata\": {\"type\": \"SP.List\"},\n  \"AllowContentTypes\": true,\n  \"BaseTemplate\": 100,\n \"Description\": \"Shoutouts for @{variables('varAppName')} \",\n \"Title\": \"Shoutout\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_Message":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_Shoutout":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'Message'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Message_to_Default_View":{"runAfter":{"Shoutout_Message":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('Message')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_CreatorName_to_Default_View":{"runAfter":{"Shoutout_CreatorName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('CreatorName')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_CreatorName":{"runAfter":{"Add_Message_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'CreatorName'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_CreatorEmail":{"runAfter":{"Add_CreatorName_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'CreatorEmail'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_CreatorEmail_to_Default_View":{"runAfter":{"Shoutout_CreatorEmail":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('CreatorEmail')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_RecipientEmail":{"runAfter":{"Add_CreatorEmail_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'RecipientEmail'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_RecipientEmail_to_Default_View":{"runAfter":{"Shoutout_RecipientEmail":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('RecipientEmail')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_RecipientName":{"runAfter":{"Add_RecipientEmail_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'RecipientName'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_RecipientName_to_Default_View":{"runAfter":{"Shoutout_RecipientName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('RecipientName')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_ShoutoutType":{"runAfter":{"Add_RecipientName_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'ShoutoutType'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_ShoutoutType_to_Default_View":{"runAfter":{"Shoutout_ShoutoutType":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('ShoutoutType')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Shoutout_CreatedOnDateTime":{"runAfter":{"Add_ShoutoutType_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldDateTime'},\n    'FieldTypeKind': 4,\n     'Title': 'CreatedOnDateTime',\n     \"DisplayFormat\":0,\n     \"EnforceUniqueValues\":false,\n     \"Required\":false,\n      \"FriendlyDisplayFormat\":0\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_CreatedOnDateTime_to_Default_View":{"runAfter":{"Shoutout_CreatedOnDateTime":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('CreatedOnDateTime')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Set_Created_Column_Indexed":{"runAfter":{"Add_Image_to_Default_View":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"HttpRequest"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_sharepointonline_1']['connectionId']"},"api":{"runtimeUrl":"https://power-apis-usgov001-public.azure-apihub.us/apim/sharepointonline"}},"method":"post","body":{"method":"POST","uri":"_api/web/lists/getByTitle('Shoutout')/fields/getByTitle('Created')","headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose","IF-MATCH":"*","X-HTTP-Method":"PATCH"},"body":"{\n'__metadata': {'type':'SP.FieldDateTime'},\n'Indexed':true\n}"},"path":"/datasets/@{encodeURIComponent(encodeURIComponent(variables('varSitePrefix')))}/httprequest","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Shoutout_Image":{"runAfter":{"Add_CreatedOnDateTime_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('Shoutout')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.Field'},\n    'FieldTypeKind': 3,\n    'Title': 'Image'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Image_to_Default_View":{"runAfter":{"Shoutout_Image":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('Shoutout')/views/getbytitle('All Items')/ViewFields/AddViewField('Image')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Variable_-_App_Name":["Succeeded"]},"type":"Scope"},"Scope_-_Shoutout_Summary":{"actions":{"Send_an_HTTP_request_to_SharePoint_ShoutoutSummary":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"/_api/web/lists","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n  \"__metadata\": {\"type\": \"SP.List\"},\n  \"AllowContentTypes\": true,\n  \"BaseTemplate\": 100,\n \"Description\": \"Shoutout Summary for @{variables('varAppName')}.\",\n \"Title\": \"ShoutoutSummary\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ShoutoutSummary_Month":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_ShoutoutSummary":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('ShoutoutSummary')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'Month'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Month_to_Default_View":{"runAfter":{"ShoutoutSummary_Month":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('ShoutoutSummary')/views/getbytitle('All Items')/ViewFields/AddViewField('Month')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ShoutoutSummary_Count":{"runAfter":{"Add_Month_to_Default_View":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('ShoutoutSummary')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldNumber'},\n    'FieldTypeKind':9,\n     \"EnforceUniqueValues\":false,\n     \"Required\":false,\n    'Title': 'Count',\n    'DefaultValue':'0'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Seats_to_Default_View":{"runAfter":{"ShoutoutSummary_Count":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('ShoutoutSummary')/views/getbytitle('All Items')/ViewFields/AddViewField('Count')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Shoutout":["Succeeded"]},"type":"Scope"},"Scope_-_Shoutout_Creators":{"actions":{"Send_an_HTTP_request_to_SharePoint_ShoutoutCreators":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"/_api/web/lists","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n  \"__metadata\": {\"type\": \"SP.List\"},\n  \"AllowContentTypes\": true,\n  \"BaseTemplate\": 100,\n \"Description\": \"Shoutout Creators for @{variables('varAppName')}.\",\n \"Title\": \"ShoutoutCreators\"\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ShoutoutCreators_Month":{"runAfter":{"Send_an_HTTP_request_to_SharePoint_ShoutoutCreators":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('ShoutoutCreators')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldText'},\n    'FieldTypeKind':2,\n    'Title': 'Month'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Month_to_Default_View_2":{"runAfter":{"ShoutoutCreators_Month":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('ShoutoutCreators')/views/getbytitle('All Items')/ViewFields/AddViewField('Month')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"ShoutoutCreators_Count":{"runAfter":{"Add_Month_to_Default_View_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/lists/getbytitle('ShoutoutCreators')/fields","parameters/headers":{"Accept":"application/json;odata=verbose","Content-Type":"application/json;odata=verbose"},"parameters/body":"{\n    '__metadata': {'type':'SP.FieldNumber'},\n    'FieldTypeKind':9,\n     \"EnforceUniqueValues\":false,\n     \"Required\":false,\n    'Title': 'Count',\n    'DefaultValue':'0'\n}"},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}},"Add_Seats_to_Default_View_2":{"runAfter":{"ShoutoutCreators_Count":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline_1","operationId":"HttpRequest"},"parameters":{"dataset":"@variables('varSitePrefix')","parameters/method":"POST","parameters/uri":"_api/web/lists/GetByTitle('ShoutoutCreators')/views/getbytitle('All Items')/ViewFields/AddViewField('Count')","parameters/headers":{"accept":"application/json;odata=verbose","content-Type":"application/json;odata=verbose"}},"authentication":{"value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']","type":"Raw"}}}},"runAfter":{"Scope_-_Shoutout_Summary":["Succeeded"]},"type":"Scope"}},"description":"This flow creates the dependent SharePoint list in the site of your choice, that will support the Portfolio Management App. App name can also be changed within the variable."},"connectionReferences":{"shared_sharepointonline_1":{"connectionName":"shared-sharepointonl-ab34cbef-c62e-4a0e-b97c-2dc22fb547bd","source":"Invoker","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}